<div class="card-group">
    <div class="card" >
        <div class="card-body">
            <div class="card-title">
                <a href="{{repo.html_url}}"> View on GitHub: {{repo.name}}</a>
            </div>    

            <div class="card-text">
                <p>Repo Description: {{repo.description}}</p>
                <p *ngIf="!repo.description">A description of this repository was not found</p>
            </div>

                <div class="card-bottom">
                    <div *ngIf="repo.language">
                      Language:  {{repo.language}}
                    </div>
                    <div *ngIf="!repo.language">
                        No language description provided
                    </div>
              </div>
            
        </div>
        
    </div>
</div>