
<div>
<H1>This is the beginning of the searchGit app</H1>

<div class='container-fluid' >

    <img src={{user.avatar_url}} alt="github-profile">

    User Name: {{user.login}}
    Following: {{user.following}}
    Followers: {{user.followers}}

    <div *ngIf= "user.public_repos>30"  appRepositoryHighlight>

    
    Number of public repositories: {{user.public_repos}}

    {{user.login}} has been busy creating new projects

    </div>
    <div *ngIf = "user.public_repos<30">

      Number of public repositories: {{user.public_repos}}

    </div>

    Joined Github {{user.created_at| timePipe}} days ago


</div>

</div>


<div *ngFor=" let repo of repos">

    <app-repositories [repo]=repo></app-repositories>
</div>

