<div>

<div class='container-fluid' >

    <img src={{user.avatar_url}} alt="github-profile">

<div  class="container column-md-4" >

    User Name: {{user.login}}
    <br>
    Following: {{user.following}}
    <br>
    Followers: {{user.followers}}
    <br>

    <div *ngIf= "user.public_repos>30"  appRepositoryHighlight>

    
    Number of public repositories: {{user.public_repos}}

    <br>

    {{user.login}} has been busy creating new projects

    </div>
    <div *ngIf = "user.public_repos<30">

      Number of public repositories: {{user.public_repos}}

    </div>

    Joined Github {{user.created_at| timePipe}} days ago
    </div>


</div>

    <div>
        <h1 class="text-center" >

            Public Repositories of {{user.login}}</h1>
    </div>

</div>


<div *ngFor=" let repo of repos">

    <app-repositories [repo]=repo></app-repositories>
</div>

