<div class='about' > <h1>
     About Search Git
 </h1>

<h3>
    Search Git is a web application that allows you, the user, to search for GitHub users and view their repositories.
    The ability to view a GitHub user's profile has never been simpler. All you have to do is enter their GitHub user name into the field located to the top right of this page and get to see their profile plus repositories.
    If a user has created more than 20 projects you will see their number of repositories highlighted in turquoise.

</h3>

</div>
